<div style="text-align:center">
  <h1>
    Change Details
  </h1>

<form>
<input #username placeholder="New Username"> <br>
<input #email placeholder="New Email"> <br>
</form>

<button (click)="update()">Update</button>