<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Message Board
  </h1>
  

<app-user-posts></app-user-posts>

<app-user-register></app-user-register>
<app-user-login></app-user-login>
<app-set-mail></app-set-mail>
<app-user-activity></app-user-activity>
<router-outlet></router-outlet>
