<div style="text-align:center">
  <h1>
    Login/Logout
  </h1>

<form>
<input #email placeholder="Email"> <br>
<input type="password" #password placeholder="Password"> <br>
</form>

<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>