<app-post *ngFor="let post of allPosts" [post]="post">
</app-post>

<div style="text-align:center">
  <h1>
    Registered Users
  </h1>
  
<app-user-view *ngFor="let user of allUsers" [user]="user">
</app-user-view>