<div style="text-align:center">
  <h1>
    Register
  </h1>

<form>
<input #username placeholder="Username"> <br>
<input type="password" #password placeholder="Password"> <br>
<input #email placeholder="Email"> <br>
</form>

<button (click)="register()">Register</button>