<div style="text-align:center">
  <h1>
    Post Message
  </h1>

<form>
<input #description placeholder="Description"> <br>
<input #message placeholder="New Message"> <br>
</form>

<button (click)="post()">Post</button>